<div>
  <div>
    <h1>
      <%= @the_board.name %> 
    </h1>

    <div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>

<hr>

<h2> Add new post </h2>
<form action="/insert_post" method="post">
<div>
  <label for="title_field"> Title </label>
  <input id="title_field" type="text" name="title">
</div>

<div>
  <label for="body_field"> Body </label>
  <input id="body_field" type="text" name="body">
</div>

<div>
  <label for="expires_on_field"> Expires on  </label>
  <input id="expires_on_field" type="date" name="expires_on">
</div>

<div>
  <label for="board_id_field"> Board ID </label>
  <input id="board_id_field" type="text" name="board_id">
</div>

<button>
Add post
</button>
</form>


<hr>


<h2>Active posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>
  <% @the_board.posts.each do |a_post| %>
  <tr>
    <td><%= a_post.title %></td>
    <td><%= a_post.body %></td>
    <td><%= a_post.created_at.strftime('%b %e, %Y') %></td>
    <td><%= a_post.expires_on.strftime('%b %e, %Y') %></td>
  </tr>
  <% end %>
</table>
